.modal{
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    padding-left: 0 !important ;
    .modal-dialog{
        max-width: 75% !important;
        .row{
            margin-inline: -1px;
            margin-block: -1px;
            .col-6{
                padding-inline: 0;
                height: 695px ;
                img{
                    width: 100% !important;
                    height: 100% !important;
                }
                .signin{
                    padding: 100px 50px  80px ;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .out{
                        position: absolute;
                        top: 20px;
                        right: 25px;
                        a{
                            cursor: pointer;
                            width: 50px;
                        }
                    }
                    img{
                        width: 85%
                    }
                    .title{
                        font-size: 20pt;
                        font-weight: bold ;
                        color: $black ;
                        margin-bottom: 15px;
                    }
                    .sub{
                        font-size: 12pt;
                        color: $black ;
                        margin-bottom: 50px ;
                    }
                    .form-group{
                        @extend %form ; 
                    }
                }
            }
        }
    }
}
