.modal{
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    padding-left: 0 !important ;
    .modal-dialog{
        max-width: 75% !important;
        .row{
            margin-inline: -1px;
            margin-block: -1px;
            .col-6{
                padding-inline: 0;
                height: 695px ;
                img{
                    width: 100% !important;
                    height: 100% !important;
                }
                .signin{
                    padding: 100px 50px  80px ;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .out{
                        position: absolute;
                        top: 20px;
                        right: 25px;
                        a{
                            cursor: pointer;
                            width: 50px;
                        }
                    }
                    img{
                        width: 85%
                    }
                    .title{
                        font-size: 20pt;
                        font-weight: bold ;
                        color: $black ;
                        margin-bottom: 15px;
                    }
                    .sub{
                        font-size: 12pt;
                        color: $black ;
                        margin-bottom: 50px ;
                    }
                    .form-group{
                        position: relative;
                        width: 95% ;
                        label[for = "key-country"]{
                            position: absolute;
                            z-index: 10;
                            top: 8px;
                            right: 22px;
                            img{
                                position: absolute ;
                                width: 25px !important ;
                                z-index: 5;
                            }
                        }
                        select{
                            width: 50px ;
                            text-align: center ;
                            position: relative ;
                            font-weight: bold;
                            padding: 0 ;
                            box-shadow: none !important;
                            border: none !important;
                            background-color: transparent ;
                            color: $min-color ;
                            font-size: 13pt ;
                            right: 27px;
                            outline: none;
                            top: -1px; 
                            &::-ms-expand{
                                display: none !important;
                            }
                            -webkit-appearance: none ;
                            -moz-appearance: none ;
                        }
                        .form-control{
                            padding-inline: 25px ;
                            margin-bottom: 15px;
                            background-color: $light-bg ;
                            padding-block: 10px ;
                            border: 1px solid $light-line ;
                            border-radius: 10px ;
                            -webkit-border-radius: 10px ;
                            -moz-border-radius: 10px ;
                            -ms-border-radius: 10px ;
                            -o-border-radius: 10px ;
                            &:focus{
                                box-shadow: none ;
                            }
                            &:last-of-type{
                                margin-bottom: 10px;
                            }
                            &::placeholder{
                                color: $light-line ;
                            }
                        }
                        .form-control.select{
                            padding-right: 110px;
                        }
                        .eye{
                            position: absolute ;
                            cursor: pointer;
                            top: 20% ;
                            left: 7% ;
                        }
                        .forget{
                            font-size: 12pt;
                            color: $min-color ;
                            display: block ;
                            text-align: left ;
                        }
                        .buttons{
                            margin-top: 100px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .sign{
                                width: 100%;
                                background-image: linear-gradient($btn-1 , $btn-2);
                                color: $white ;
                                box-shadow: none ;
                                font-size: 18pt ;
                                border: 1px solid $min-color  ;
                                border-radius: 10px ;
                                -webkit-border-radius: 10px ;
                                -moz-border-radius: 10px ;
                                -ms-border-radius: 10px ;
                                -o-border-radius: 10px ;
                                transition: all 300ms ease ;
                                -webkit-transition: all 300ms ease ;
                                -moz-transition: all 300ms ease ;
                                -ms-transition: all 300ms ease ;
                                -o-transition: all 300ms ease ;
                                &:hover{
                                    filter: brightness(95%);
                                    -webkit-filter: brightness(95%);
                                }
                            }
                            .signup{
                                background-image: linear-gradient($bg-color-1 , $bg-color-2) ;
                                border: $black ;
                            }
                            .btn + .btn{
                                margin-top: 15px ;
                            }
                        }
                    }
                }
            }
        }
    }
}
