.modal-new-pass {
    .modal-dialog{
        .row{
            .col-6{
                .signin{
                    padding: 150px 50px 80px ;
                    .title{
                        font-size: 18pt;
                        font-weight: bolder ;
                        margin-bottom: 10px ;
                    }
                    .sub{
                        font-size: 9pt ;
                    }
                    .form-group{
                        .eye{
                            top: 2% ;
                        }
                        .eye-2{
                            top: 25% ;
                        }
                        .buttons{
                            margin-top: 80px ;
                        }
                    }
                }
            }
        }
    }
}