.profile{
    padding: 50px 70px 300px ;
    .branch{
        @extend %branch ; 
    }
    .sections{
        display: grid ;
        grid-template-columns: repeat(auto-fill , minmax(calc(100% / 4) , 1fr)) ; 
        gap: 20px ;
        .section{
            padding: 2px;
            background-color: $light-bg;
            border-radius: 8px ;
            -webkit-border-radius: 8px ;
            -moz-border-radius: 8px ;
            -ms-border-radius: 8px ;
            -o-border-radius: 8px ;
            border: 1px solid $light-line ;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            .show-case{
                background-image: linear-gradient($white, $light-line) ;
                display: flex ;
                align-items: center ;
                padding: 35px 50px ;
                height: 135px ;
                border-radius: 8px ;
                -webkit-border-radius: 8px ;
                -moz-border-radius: 8px ;
                -ms-border-radius: 8px ;
                -o-border-radius: 8px ;
                .title{
                    margin-right: 25px ;
                    color: $black ;
                    font-size: 22pt ;
                }
            }
            &:hover{
                transform: scale(.9);
                -webkit-transform: scale(.9);
                -moz-transform: scale(.9);
                -ms-transform: scale(.9);
                -o-transform: scale(.9);
            }
        }
    }
}