// color

$white : #ffffff ; 
$black: #000 ; 
$bg-color-1 : #484848 ; 
$bg-color-2 : #0e0e0e ; 
$btn-1 : #d6a22b ; 
$btn-2: #b07e0a ; 



//font

@font-face{
    font-family: Tajawal;
    src : url("../fonts/Tajawal/Tajawal-Regular.ttf") ; 
}
html{
    overflow-x: hidden;
}
body{
    font-family: Tajawal , sans-serif !important;
    background-color: $white !important;
    font-size: 16pt !important;
    overflow: hidden ;
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
}


