@import "./vars" ; 
@import "./login" ; 
@import "./signup" ;
.header{
    .navbar{
        display: block;
        padding-block: 0;
        position: relative;
        background-image: linear-gradient($bg-color-1 , $bg-color-2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .min-nav{
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(calc(100% / 3) , 1fr));
            align-items: baseline;
            padding: 10px 70px 20px ;
            width: 100% ;
            .lang{
                text-align: right;
                .dropdown-toggle{
                    &::after{
                        border: none;
                        content: url("../icons/Icon\ ionic-ios-arrow-forward-1.svg");
                    }
                }
                .dropdown{
                    @extend %drop ; 
                    .dropdown-menu{
                        right: 80px;
                        z-index: 1545;
                    }
                }
            }
            .navbar-brand{
                margin-left: 0 ;
                text-align: center;
                img{
                    width: 20%;
                }
            }
            .sign{
                display: flex;
                align-items: baseline;
                justify-content: flex-end;
                .btn{
                    color: $white ;
                    box-shadow: none ;
                    background-image: linear-gradient($btn-1 , $btn-2) ;
                    width: 40% ;
                    height: 45px ;
                    font-size: 16pt ;
                    border: none;
                    transition: all 300ms ease ;
                    -webkit-transition: all 300ms ease ;
                    -moz-transition: all 300ms ease ;
                    -ms-transition: all 300ms ease ;
                    -o-transition: all 300ms ease ;
                    border-radius: 8px ;
                    -webkit-border-radius: 8px ;
                    -moz-border-radius: 8px ;
                    -ms-border-radius: 8px ;
                    -o-border-radius: 8px ;
                    &:hover{
                        filter: brightness(90%);
                        -webkit-filter: brightness(90%);
                    }
                }
                .btn+.btn{
                    margin-right:25px ;
                }
            }
        }
        &:after{
            position: absolute ;
            content: "" ;
            bottom:  -7px  ;
            left: 0  ;
            z-index: -1 ;
            width: 100%;
            height: 10px ;
            background-color: $white ;
            border-radius: 8px ;
            -webkit-border-radius: 8px ;
            -moz-border-radius: 8px ;
            -ms-border-radius: 8px ;
            -o-border-radius: 8px ;
        }
    }
    #slider{
        position: relative ;
        .carousel-inner{
            position: relative;
            z-index: -2;
            .carousel-item{
                position: relative ;
                .overlay{
                    position: absolute ;
                    top: 24% ;
                    left: 50% ;
                    transform: translateX(-50% );
                    -webkit-transform: translateX(-50% );
                    -moz-transform: translateX(-50% );
                    -ms-transform: translateX(-50% );
                    -o-transform: translateX(-50% );
                    .text{
                        color: $white ;
                        font-size: 30pt ;
                        width: 520px ;
                        text-align: center ;
                    }
                }
            }
            .buttons{
                position: absolute ;
                top: 50% ;
                left: 50% ;
            }
        }
        .carousel-control-prev{
            width: 60px;
            height: 100% ;
            background-color: rgba($light-bg , 0.2);
            opacity: 1 ;
            &::after{
                position: relative ;
                content: url("../icons/Icon\ ionic-ios-arrow-forward.svg") ;
                top: 0 ;
                left: 0 ;
            }
        }
        .buttons{
            position: absolute ;
            top: 50% ;
            left: 50% ;
            width: 100% ;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            display: flex ;
            flex-direction: column ;
            align-items: center ;
            justify-content: center ;
            .btn{
                @extend %btn-black ;
            }
        }
        .carousel-indicators{
            bottom: 25% ;
            button{
                width: 10px ;
                height: 10px ;
                border-radius: 50% ;
                -webkit-border-radius: 50% ;
                -moz-border-radius: 50% ;
                -ms-border-radius: 50% ;
                -o-border-radius: 50% ;
                opacity: 1 ;
            }
            .active{
                background-color: $min-color ;
            }
        }
    }
}
.header-home{
    .navbar{
        .min-nav{
            .sign{
                .dropdown{
                    .dropdown-item{
                        color: $red ;
                        font-size: 14pt ;
                    }
                    .dropdown-menu{
                        right: -160px ;
                    }
                }
                .dropdown-toggle{
                    &::after{
                        content: "" ;
                    }
                }
            }
        }
    }
}
.services{
    padding: 150px 70px 200px ;
    .title{
        @extend %title-style ; 
    }
    .show-case{
        @extend %show-case ; 
        .card{
            @extend %card ; 
        }
    }
}
.features{
    padding:150px 0 100px ;
    display: grid ;
    grid-template-columns: repeat(auto-fill , minmax(calc(100% / 2) , 1fr));
    .feature{
        display: flex ;
        flex-direction: column ;
        justify-content: center;
        background-color: $light-bg ;
        .image{
            img{
                width: 100% ;
            }
        }
        .show-case{
            padding-inline:  50px ;
            .text{
                font-size: 25pt ;
                width: 500px ;
                font-weight: bold ;
                color: $black ;
                margin-bottom: 50px ; 
            }
            .btn{
                @extend %btn-black ; 
                width: 40% ;
            }
        }
    }
}
.vip-consultant{
    position: relative;
    padding: 90px 0px 150px 0px;
    background: $white;
    &>.title{
        @extend %title-style ; 
        &:after{
            right: 40% ;
        }
    }
    .consultant-slider{
        margin-top: 55px;
        direction: ltr;
        .owl-dots{
            text-align: center;
            margin-top: 80px;
            .owl-dot{
                height: 9px;
                width: 30px;
                background: $white;
                border: 2px solid $black ;
                border-radius: 15px;
                display: inline-block;
                margin: 0px 2px;
                -webkit-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
            .active{
                background: $min-color ; width: 100px;
            }
        }
        .owl-dots.disabled{
            display: inherit !important;
        }
    }
    .owl-carousel{
        .owl-stage-outer{
            height: 550px ;
        }
        .owl-stage{
            margin-top:120px;
        }
        .owl-item{
            background-color: transparent !important;
            height: 350px ;
            margin-bottom: 200px;
            .card{
                @extend%card ;
                width: 100% ;
                height: 100% ;
                position: relative ;
                transform: scale(0.96);
                -webkit-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                box-shadow: 0px 5px 6px #EBEBEB;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                .image{
                    position: absolute ;
                    top: -20%  ;
                    left: 50% ;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
                .card-body{
                    display: flex ;
                    flex-direction: column ;
                    align-items: center ;
                    justify-content: center ;
                    .title{
                        color: $black ;
                        font-weight: bold;
                        font-size: 28pt ;
                    }
                    .card-text{
                        font-size: 14pt ;
                    }
                    .stars{
                        display: flex ;
                        align-items: center ;
                        justify-content: center ;
                        img{
                            width: 15%;
                            min-height: initial !important;
                            max-height: initial !important ;
                        }
                        img+img{
                            margin-left: 2px ;
                        }
                    }
                }
            }
        } 
        .center{
            .card{
                position: absolute ;
                top: -20px !important;
                left: -14px ;
                border-color: $min-color;
                height: 400px !important;
                width: 320px !important;
            }
        }
    } 
}
.vip-consultant.clients-preview{
    padding-top: 150px ;
    background: $light-bg;
    .title{
        margin-bottom: 0 ;
        &::after{
            right: 35.5% ;
        }
    }
    .container-fluid{
        margin-right: 150px ;
        .owl-carousel{
            .owl-stage-outer{
                height: 350px ;
                width: 105% ;
                margin-top: -90px ;
            }
            .owl-item{
                height: 230px ;
                .card{
                    background-color: $white ;
                    padding-block: 0 ;
                    .image{
                        right: -80px  ;
                        left: initial;
                        top: 50% ;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                    .card-body{
                        align-items: stretch ;
                        justify-content: stretch ;
                        text-align: center ;
                        .title{
                            text-align: right ;
                            font-size: 25pt;
                        }
                        .card-text{
                            color: $min-color ;
                            text-align: right ;
                            margin-bottom: 30px ;
                        }
                        .text{
                            font-size: 14pt ;
                        }
                    }
                }  
            }
            .center{
                .card{
                    position: initial ;
                    border-color: $min-color;
                    height: 100% !important ;
                    width: 100% !important;
                }
            }
        }
        .owl-dots{
            text-align: left ;
            margin-left: 230px ;
        }
    }
}
.why-choose-us{
    padding: 150px 70px ;
    .title{
        @extend %title-style ; 
        &:after{
            right: 43% ;
            top: 35% ;
        }
    }
    .show-case{
        @extend %show-case ; 
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5), 1fr));
        .card{
            @extend %card ; 
            height: 500px ;
            .card-body{
                font-size: 18pt ;
                text-align: center ;
                .card-text{
                    font-weight: bold ;
                    margin-bottom: 25px ;
                }
                .text{
                    font-size: 14pt ;
                    width: 220px ;
                }
            }
        }
    }
}
.app{
    background-color: $light-bg;
    position: relative;
    .show-case{
        position: absolute;
        padding:120px 70px 0 0;
        .title{
            font-size: 25pt;
            color: $min-color ;
            font-weight: 800;
            margin-bottom: 25px;
        }
        img{
            width: 200px;
        }
    }
    .image{
        position: relative;
        right: 53%;
        width: 40%;
        bottom:0;
        padding-top: 80px ;
        img{
            width: 100%;
        }
    }
}
.footer{
    position: relative;
    background-image: url("../img/footer\ bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .row{
        padding: 40px 70px 200px 70px ;
        .logo{
            width: 120px;
            margin-bottom: 70px;
            img{
                width: 100%;
            }
        }
        .explanation{
            .text{
                color: $white;
                font-size:14pt;
                width: 275px ;
            }
        }
        .items{
            list-style: none;
            margin-top: 30px;
            .item{
                .link{
                    text-decoration: none;
                    color: $white;
                    font-size: 16pt;
                    transition: all 300ms ease;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    &:hover{
                        color: $min-color ;
                        filter: brightness(90%);
                        -webkit-filter: brightness(90%);
                    }
                }
            }
            .item + .item{
                margin-top: 22pt;
            }
            .custom-item{
                span{
                    color: $white;
                }
            }
            .custom-item + .custom-item{
                margin-top: 5pt;
            }
        }
        .contact{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            margin-top: 60px ;
            .title{
                font-size: 16pt;
                color: $btn-1;
                width: 100%;
                font-weight: bold;
            }
            .custom-items{
                padding-right: 0;
                margin-top: 20px ;
                span{
                    font-size: 16pt;
                }
            }
        }
    }
    .copyright{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $min-color;
        font-size: 15pt;
        height: 40px;
        margin-bottom: 0;
        .copy{
            font-size: 25pt;
        }
        .year{
            font-size: 15pt;
            margin-inline: 10px;
        }
    }
    .icon{
        position: absolute ;
        top: -34px ;
        left: 50% ;
        transform: translateX(-50%) rotate(180deg);
        background-image: linear-gradient($min-color , $btn-2) ;
        border: 1px solid $light-line ;
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
        width: 70px ;
        height: 70px ;
        content: "" ;
        -webkit-transform: translateX(-50%) rotate(180deg);
        -moz-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
        -o-transform: translateX(-50%) rotate(180deg);
        &::before{
            position: absolute ;
            content: url("../icons/Group\ 40954.svg");
            top: 33% ;
            left: 50% ;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
}

